<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mnsx.mnsx_system.dao.UserMapper">

    <resultMap id="userMap" type="user">
        <id column="id" property="id"/>
        <result column="nick_name" property="nickName" javaType="String"/>
    </resultMap>

    <insert id="insertOne" parameterType="top.mnsx.mnsx_system.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into
        tb_user (id, phone, nick_name, create_user, create_time, update_user, update_time
        <if test="email != null and email != ''">
            , email
        </if>
        <if test="password != null and password != ''">
            , password
        </if>
        <if test="icon != null and icon != ''">
            , icon
        </if>
        <if test="status != null">
            , status
        </if>
        )
        values (#{id}, #{phone}, #{nickName}, #{createUser}, #{createTime}, #{updateUser}, #{updateTime}
        <if test="email != null and email != ''">
            , #{email}
        </if>
        <if test="password != null and password != ''">
            , #{password}
        </if>
        <if test="icon != null and icon != ''">
            , #{icon}
        </if>
        <if test="status != null">
            , #{status}
        </if>
        )
    </insert>
    <insert id="insertUserRole">
        insert into
            tb_user_role (user_id, role_id)
        values (#{userId}, #{roleId})
    </insert>

    <update id="updateOne">
        update
        tb_user
        set
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="email != null and email != ''">
            email = #{email},
        </if>
        <if test="nickName != null and nickName != ''">
            nick_name = #{nickName},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="icon != null and icon != ''">
            icon = #{icon},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_user = #{updateUser},
        update_time = #{updateTime}
        where
        id = #{id}
        and
        is_deleted = 0
    </update>
    <update id="updateUserRole">
        update
            tb_user_role
        set
            role_id = #{roleId}
        where
            user_id = #{userId}
    </update>

    <delete id="deleteOne">
            update
            tb_user
            set
            is_deleted = 1
            where
        <foreach collection="ids" item="id" separator="or">
            id = #{id}
        </foreach>
    </delete>

    <select id="selectByPhone" resultMap="userMap">
        select
            id, phone, password, email, nick_name, icon
        from
            tb_user
        where
            phone = #{phone}
          and
            status = 0
          and
            is_deleted = 0
    </select>
    <select id="selectById" resultMap="userMap">
        select
            id, phone, email, nick_name, icon
        from
            tb_user
        where
            id = #{id}
          and
            status = 0
          and
            is_deleted = 0
    </select>
    <select id="selectByPage" resultMap="userMap">
        select
        id, phone, email, nick_name, icon, status
        from
        tb_user
        where
        is_deleted = 0
        <if test="user.phone != null and user.phone != ''">
            and phone = #{user.phone}
        </if>
        <if test="user.email != null and user.email != ''">
            and email = #{user.email}
        </if>
        <if test="user.nickName != null and user.nickName != ''">
            and nick_name = #{user.nickName}
        </if>
        order by
        update_time desc
        limit
        ${pageNum}, #{pageSize}
    </select>
</mapper>
